th, td {
  padding: 5px;
}
.container1{
font-family: Verdana, Helvetica, sans-serif;
      height:fill;
      background: WhiteSmoke; /* For browsers that do not support gradients */
      /*background: -webkit-linear-gradient(Snow, WhiteSmoke); /* For Safari 5.1 to 6.0 */
      /*background: -o-linear-gradient(Snow, WhiteSmoke); /* For Opera 11.1 to 12.0 */
      /*background: -moz-linear-gradient(Snow, WhiteSmoke); /* For Firefox 3.6 to 15 */
      /*background: linear-gradient(Snow, WhiteSmoke); /* Standard syntax (must be last) */
      background-size: 100% 100%, auto;
      width:fill;
}
