

<div class="container1">
  <div class="container">
    <div class="magintop">
      <h2>LOGIN</h2>
      <form class="form-horizontal"   >
        <div class="form-group1">
          <label class="" for="user"></label>
          <div class="">
            <input type="text" class="form-control" id="user" placeholder="Enter username" name="email">
          </div>
        </div>
        <div class="form-group1">
          <label class="" for="pwd"></label>
          <div class="">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
          </div>
        </div><br>
        <div class="form-group">
          <div class="button">
            <button type="submit" class="button button2">LOGIN</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

