<div class="container1">
  <div class="container">
    <div class="magintop">
      <h2>LOGIN</h2>
      <form class="form-horizontal" routerLink="/home" routerLinkActive="active">
        <div class="form-group1">
          <label class="" for="email"></label>
          <div class="">
            <input type="email" class="form-control" id="email" placeholder="Enter username" name="email">
          </div>
        </div>
        <div class="form-group1">
          <label class="" for="pwd"></label>
          <div class="">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
          </div>
        </div><br>
        <div class="form-group">
          <div class="remember">
            <div class="checkbox">
              <label><input type="checkbox" name="remember"> Remember me</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a>Forget Password?</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="button">
            <button class="button button2">LOGIN</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
