<div class="container1">
  <div class="container">

<h1 align="center">Grading</h1>
<hr>
<h3 align="center">Student list</h3>
<table style="width:75%" align="center">
  <tr>
    <th>Student ID</th>
    <th>Student Name</th>
    <th>Grading</th>
  </tr>
  <tr>
    <td>000001</td>
    <td>Testing Con</td>
    <td> <div class="dropdown">
      <button class="button button2" data-toggle="dropdown"> GRADE
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a routerLink="/home" routerLinkActive="active">A</a></li>
        <li><a routerLink="/home" routerLinkActive="active">B</a></li>
        <li><a routerLink="/home" routerLinkActive="active">C</a></li>
        <li><a routerLink="/home" routerLinkActive="active">D</a></li>
        <li><a routerLink="/home" routerLinkActive="active">F</a></li>
      </ul>
    </div>
      </td>
  </tr>
  <tr>
    <td>000002</td>
    <td>Android Ai</td>
    <td><div class="dropdown">
      <button class="button button2" data-toggle="dropdown"> GRADE
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a routerLink="/home" routerLinkActive="active">A</a></li>
        <li><a routerLink="/home" routerLinkActive="active">B</a></li>
        <li><a routerLink="/home" routerLinkActive="active">C</a></li>
        <li><a routerLink="/home" routerLinkActive="active">D</a></li>
        <li><a routerLink="/home" routerLinkActive="active">F</a></li>
      </ul>
    </div></td>
  </tr>
  <tr>
    <td>000003</td>
    <td>Math Egg</td>
    <td><div class="dropdown">
      <button class="button button2" data-toggle="dropdown"> GRADE
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a routerLink="/home" routerLinkActive="active">A</a></li>
        <li><a routerLink="/home" routerLinkActive="active">B</a></li>
        <li><a routerLink="/home" routerLinkActive="active">C</a></li>
        <li><a routerLink="/home" routerLinkActive="active">D</a></li>
        <li><a routerLink="/home" routerLinkActive="active">F</a></li>
      </ul>
    </div></td>
  </tr>
</table>
</div>
  </div>

