<div align="center" >
<img src = "https://2.bp.blogspot.com/-uqQSWDCBi3k/VygiUXbem6I/AAAAAAAAMZY/WejGhMJc2jIS_RGjJnsG6CRqw_tJVAfvwCKgB/s1600/main-271-235x235.png"  class ="Picture">

  <div >

    <table style="width:30%">
      <tr>
        <th>Couse Id</th>
        <th>Couse Name</th>
        <th>Credits</th>
        <th>Option</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <td><button type="button" class="btn btn-danger"> Delete </button></td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <td><button type="button" class="btn btn-danger"> Delete </button></td>
      </tr>
    </table>
  </div>

  <div>
    <table style="width:30%">
      <tr>
        <th>Total Credits</th> <th>Total fee</th>
      </tr>
      <tr>
        <td>50</td> <td>300</td>
      </tr>
      <tr>
        <td>20</td> <td>30</td>
      </tr>
    </table>
  </div>













</div>

