<div align="center" >
<img src = "https://2.bp.blogspot.com/-uqQSWDCBi3k/VygiUXbem6I/AAAAAAAAMZY/WejGhMJc2jIS_RGjJnsG6CRqw_tJVAfvwCKgB/s1600/main-271-235x235.png"  class ="Picture">

  <div>
    <table style="width:30%">
      <tr>
        <th>STUDENT NAME</th>
        <td>Dino Nomo</td>
      </tr>
      <tr>
        <th>STUDENT ID</th>
        <td>000001</td>
      </tr>
      <tr>
        <th>USERNAME</th>
        <td>Dino_nomo</td>
      </tr>
    </table>
  </div>

  <div >

    <table style="width:50%">
      <tr>
        <th>COURSE ID</th>
        <th>COURSE NAME</th>
        <th>CREDITS</th>
        <th>DAY</th>
        <th>TIME</th>
        <th>GRADE</th>
        <th>WITHDRAW</th>
      </tr>
      <tr>
        <td>953333</td>
        <td>Testing</td>
        <td>3</td>
        <td>Monday</td>
        <td>12.30-15.00</td>
        <td></td>
        <td><button type="button" class="btn btn-danger"> WITHDRAW </button></td>
      </tr>
      <tr>
      <td>953456</td>
      <td>Android</td>
      <td>3</td>
        <td>Tuesday</td>
      <td>9.30-11.00</td>
      <td></td>
      <td><button type="button" class="btn btn-danger"> WITHDRAW </button></td>
    </tr>
      <tr>
        <td>987346</td>
        <td>Math for SE</td>
        <td>3</td>
        <td>Tuesday</td>
        <td>12.30-15.00</td>
        <td></td>
        <td><button type="button" class="btn btn-danger"> WITHDRAW </button></td>
      </tr>
    </table>
  </div>

  <div>
    <table style="width:30%">
      <tr>
        <th>Total Credits</th> <th>Total fee</th>
      </tr>
      <tr>
        <td>9 Credits</td> <td>180 Baht</td>
      </tr>
    </table>
  </div>













</div>

