<div class="container1" ><br>

    <div class="container_photo">
      <div class="containerin">
      <tr  >
      <td class="td1" style="width:25%"><img src="{{student.image}}">
    </td>

   <td class="td1" style="width:50%">

   <span>
        <tr class="tr1">
          <th class="th3">STUDENT NAME</th>
          <td class="td3">{{student.fullname}}</td>
        </tr>
        <tr>
          <th class="th3">STUDENT ID</th>
          <td class="td3">{{student.studentId}}</td>
        </tr>
        <tr>
          <th class="th3">USERNAME</th>
          <td class="td3">{{student.username}}</td>
        </tr>

  </span>
   </td>
      </tr>
      </div>
  </div>


  <div align="center">

    <table style="width:75%">
      <tr id="tr1">
        <th class="th2">COURSE ID</th>
        <th class="th2">COURSE NAME</th>
        <th class="th2">CREDITS</th>
        <th class="th2">TIME</th>
        <th class="th2">GRADE</th>
        <th class="th2">WITHDRAW</th>
      </tr>
      <tr *ngFor="let course of student.enrolledCourse" >
        <td class="td1">{{course.courseID }}</td>
        <td class="td1">{{course.courseName }}</td>
        <td class="td1">{{course.courseCredits }}</td>
        <td class="td1">{{course.times }}</td>
        <td class="td1">{{course.grade }}</td>
        <td class="td1">
          <button class="button button2">WITHDRAW</button>
      </tr>



    </table>
    <table style="width:75%">
      <tr>
        <th>Total Credits</th>
        <th>Total fee</th>
        <th>GPA</th>
      </tr>
      <tr>
        <td class="td1">{{calTotalCredit()}}</td>
        <td class="td1">180 Baht</td>
        <td class="td1">3.00</td>
      </tr>
    </table>
    <br>
    <br>

  </div>
</div>

