<div class="container1">
<div class="container">
<h1 align="center">Grading</h1>
<hr>
<h3 align="center">Course</h3>
<table style="width:75%" align="center">
  <tr>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Number of Student</th>
    <th>Grading</th>
  </tr>
  <tr>
    <td>953333</td>
    <td>Testing</td>
    <td>50</td>
    <td><button class="button button2">Grading</button></td>
  </tr>
  <tr>
    <td>953456</td>
    <td>Android</td>
    <td>15</td>
    <td><button class="button button2">Grading</button></td>
  </tr>
  <tr>
    <td>987346</td>
    <td>Math for SE</td>
    <td>80</td>
    <td><button class="button button2">Grading</button></td>
  </tr>
</table>
</div>
</div>


