div {
  border-radius: 5px;
  padding: 20px;
}
div.container_photo{
      margin-top:0px;
      border: 1px solid Gainsboro;
      padding: 8px;
      border-radius: 3px;
      box-shadow: 1px 1px 2px 2px rgba(0,0,0,.1);
      background: White;
      height: 50%;
      width: 75%;

}
hr{
width : 75%;
}
th, td {
  padding: 5px;
  margin-top:45px;
        padding: 8px;
        border-radius: 3px;
        height: 70px;
}
input{
  margin-top:2px;
        border: 1px solid Gainsboro;
        padding: 3px;
        border-radius: 3px;
        background: White;
}
label{
       margin-top:2px;
             padding: 2px;
             border-radius: 3px;
             background: White;
             }
.container{
margin-top:0px;
    height: auto;
    background: WhiteSmoke;
    background-size: 100% 100%, auto;
    width: auto;
}
.button2{
margin-left: 100px;
     background: -webkit-linear-gradient(Cyan, DarkTurquoise); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(Cyan, DarkTurquoise); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(Cyan, DarkTurquoise); /* For Firefox 3.6 to 15 */
     background: linear-gradient(Cyan, DarkTurquoise); /* Standard syntax (must be last) */
     color: White;
     border: 0px solid white;
     border-radius: 5px;
     width: 100%;
     height:35px;
     box-shadow: 1px 1px 2px 2px rgba(0,0,0,.1);
}

.button2:hover {
     background: -webkit-linear-gradient(#35e0e0, #03b7b7); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(#35e0e0, #03b7b7); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(#35e0e0, #03b7b7); /* For Firefox 3.6 to 15 */
     background: linear-gradient(#35e0e0, #03b7b7); /* Standard syntax (must be last) */
     color: white;
}
