<div align="center" >

  <H2> Create Course</H2>

  <form name="form">
    <label for="Cname">Course Name</label>
    <input type="text" id="Cname" name="coursename" placeholder="coursename"><br>

    <label for="Cid">Course ID</label>
    <input type="text" id="Cid" name="courseid" placeholder="courseid"><br>

    <label for="Cid">Course Credits</label>
    <input type="text" id="Ccredits" name="coursecredits" placeholder="coursecredits"><br>

    <label for="Cid">Semeter</label>
    <input type="text" id="Ccredits" name="coursecredits" placeholder="coursecredits"><br>





    <input type="submit" value="Submit"><br>
  </form>



</div>
