<div align="center" >

  <H2> Create Course</H2>

  <form name="form">
    <label for="Cname">Course Name</label>
    <input type="text" id="Cname" name="courseName" placeholder="courseName"><br>

    <label for="Cid">Course ID</label>
    <input type="text" id="Cid" name="courseId" placeholder="courseId"><br>

    <label for="Cid">Course Credits</label>
    <input type="text" id="Ccredits" name="courseCredits" placeholder="courseCredits"><br>

    <label for="Csemeter">Semeter</label>
    <input type="text" id="Csemeter" name="courseSemeter" placeholder="courseSemeter"><br>

    <label for="CTeacher">Teacher</label>
    <input type="text" id="CTeacher" name="courseTeacher" placeholder="courseTeacher"><br>

    <label for="CSeat">Seat</label>
    <input type="text" id="CSeat" name="courseSeat" placeholder="courseSeat"><br>





    <input type="submit" value="Submit"><br>
  </form>



</div>
