<div class="container">
<div align="center">
  <H2> Enroll Course</H2>
  <form class="navbar-form ">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button class="button button2" style="width:10%">SEARCH</button>
  </form>
  <div>
    <table style="width:70%">
      <tr>
        <th>COURSE ID</th>
        <th>COURSE NAME</th>
        <th>CREDITS</th>
        <th>DAY</th>
        <th>TIME</th>
        <th>TEACHER</th>
        <th>ADD</th>
      </tr>
      <tr>
        <td>953333</td>
        <td>Testing</td>
        <td>3</td>
        <td>Monday</td>
        <td>12.30-15.00</td>
        <td></td>
        <td><a routerLink="/home" routerLinkActive="active">
          <button class="button button2">ADD</button>
        </a></td>
      </tr>
      <tr>
        <td>953456</td>
        <td>Android</td>
        <td>3</td>
        <td>Tuesday</td>
        <td>9.30-11.00</td>
        <td></td>
        <td><a routerLink="/home" routerLinkActive="active">
          <button class="button button2">ADD</button>
        </a></td>
      </tr>
      <tr>
        <td>987346</td>
        <td>Math for SE</td>
        <td>3</td>
        <td>Tuesday</td>
        <td>12.30-15.00</td>
        <td></td>
        <td><a routerLink="/home" routerLinkActive="active">
          <button class="button button2">ADD</button>
        </a></td>
      </tr>
    </table>
  </div>
</div>
</div>
