<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Register System</div>
    </div>
    <ul class="nav navbar-nav">

      <li ><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/enroll_course" routerLinkActive="active">Enroll Course</a></li>
      <li><a routerLink="/create_course" routerLinkActive="active">Create Course</a></li>
      <li><a routerLink="/courseList" routerLinkActive="active">Course List</a></li>
      <li><a routerLink="/grading" routerLinkActive="active">Grading</a></li>




    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
